{% load static %}
<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/> 
	<title>Checkout Page</title>
	<style>
	</style>
</head>

<body>
	{% block content %}
	<form id="form_checkout" method="POST" action="{% url 'checkout' %}">
		{% csrf_token %}
		<label for="name">Name</label>
		<input type="text" id="name" name="name" placeholder="Your name.." required>

		<label for="email">Email</label>
		<input type="email" id="email" name="email" placeholder="Your email.." required>

		<label for="phone">Phone</label>
		<input type="tel" id="phone" name="phone" placeholder="Your phone number.." required>

		<label for="address">Address</label>
		<input type="text" id="address" name="address" placeholder="Your address.." required>

		<label for="city">City</label>
		<input type="text" id="city" name="city" placeholder="Your city.." required>

		<label for="state">State</label>
		<select id="state" name="state" required>
			<option value="">--Select State--</option>
			<option value="MH">Maharashtra </option>
			<option value="UP">Uttar Pradesh</option>
			<option value="MP">Madhya Pradesh</option>
			<option value="AP">Andhra Pradesh</option>
			<option value="HP">Himachal Pradesh</option>
			<option value="GJ">Gujarat </option>
			<option value="TN">Tamil Nadu</option>
			<option value="KL">Kerala </option>
			<option value="KA">Karnataka </option>
			<option value="GO">Goa </option>
			<option value="AR">Arunachal Pradesh</option>
			<option value="AS">Assam </option>
			<option value="BR">Bihar </option>
			<option value="CG">Chhattisgarh </option>
			<option value="HR">Haryana </option>
			<option value="JH">Jharkhand </option>
			<option value="MN">Manipur </option>
			<option value="ML">Meghalaya </option>
			<option value="MZ">Mizoram </option>
			<option value="NL">Nagaland </option>
			<option value="OD">Odisha </option>
			<option value="PB">Punjab </option>
			<option value="RJ">Rajasthan </option>
			<option value="SK">Sikkim </option>
			<option value="TG">Telangana </option>
			<option value="TR">Tripura</option>
			<option value="UK">Uttarakhand</option>
			<option value="WB">West Bengal</option>
		</select>
		<label for="zip">Zip Code</label>
		<input type="text" id="zip" name="zip" placeholder="Your zip code.." required>

		<label for="cardname">Name on Card</label>
		<input type="text" id="cardname" name="cardname" placeholder="Name on card.." required>

		<label for="cardnumber">Card Number</label>
		<input type="text" id="cardnumber" name="cardnumber" placeholder="Card number.." required>

		<label for="expmonth">Exp Month</label>
		<input type="text" id="expmonth" name="expmonth" placeholder="Expiration month.." required>

		<label for="expyear">Exp Year</label>
		<input type="text" id="expyear" name="expyear" placeholder="Expiration year.." required>

		<label for="cvv">CVV</label>
		<input type="text" id="cvv" name="cvv" placeholder="CVV.." required>

		<button onclick="window.location='{% url 'feedback' %}' " type="submit" class="normal">Submit</button>
	</form>
	{% endblock %}