{% extends 'schnoogle_a/main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

{% block content %}
<div class="row">
    <section class="fourth-banner" style="background-image: url('{% static 'images/bg2.jpeg' %}');">
        <h4>Wrap your little one in comfort and care
          <br> with our premium diapers
          <br> -because every moment with your baby is <br><span>precious</span>.
        </h4>
        <!-- <button onclick="window.location='{% url 'toys' %}' ">Explore More</button> -->
      </section>
</div>
    <div class="container my-5">
      
        <div class="row">
            <div class="col-12 col-md-6 mb-5" style="background-color: #f1faee;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/P0eg44MJ-qg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="row">
                   <h2><strong> Title:</strong> 10 Baby Care Skills Every New Parent Should Learn</h2>
                   <p style="font-size: 15px;"><strong>Description:</strong>As much as a newborn brings joy, it brings an equal amount of responsibility as well. New parents usually go through a bumpy ride when taking care of a baby, which involves issues like lack of sleep, soothing the baby, and feeding. Take, for example, changing diapers. It’s not the most complicated thing in the world: you wanna remove the soiled diaper and put a fresh clean one in its place. But there are some important things to remember.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-5" style="background-color: #f7ede2;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/TapeBriMc8s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="row">
                    <h2><strong> Title:</strong>Expert Tips for Bathing Your Newborn Baby: A Comprehensive Guide with Step-by-Step Instructions</h2>
                    <p style="font-size: 15px;"><strong>Description:</strong>In this video, Gayle, a childbirth educator, demonstrates how to properly bathe a baby at home. She emphasizes the importance of having all necessary supplies nearby, including a towel, fresh diaper, and fresh clothing, as well as Vaseline and gauze if the baby has been circumcised. Gayle also emphasizes the importance of checking the water temperature, which should be around 100 degrees Fahrenheit, and keeping the room warm before undressing the baby.</p>
                 </div>
            </div>
            <div class="col-12 col-md-6 mb-5" style="background-color: #f7ede2;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/PlxaDl4sYPA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="row">
                    <h2><strong> Title:</strong>Newborn Clothing 0-3 month</h2>
                    <p style="font-size: 15px;"><strong>Description:</strong>Baby clothes from bodysuits, sleepers, singlets, long sleeve shirts, pants, jumpers, socks and gloves. You should buy according to your weather. </p>
                 </div>
            </div>
            <div class="col-12 col-md-6 mb-5" style="background-color: #f1faee;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/WQuX_Yw3yIg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="row">
                    <h2><strong> Title:</strong>Pediatrician Explains Newborn Baby Basics: Feeding, Safe Sleep, Pooping, Car Seats, and more.</h2>
                    <p style="font-size: 15px;"><strong>Description:</strong>What do you need to know when you bring your new baby home from the hospital? This week we cover the big things: how often baby should eat, how many poopy diapers to expect, how to make sure your baby is sleeping safely, genital care, reasons to call your doctor, and postpartum mood changes. </p>
                 </div>
            </div>
            <div class="col-12 col-md-6 mb-5" style="background-color: #f1faee;">
                <div class="embed-responsive embed-responsive-16by9" >
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/i3oAo0FSpn8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="row">
                    <h2><strong> Title:</strong>Baby Month By Month Development and Growth After Birth</h2>
                    <p style="font-size: 15px;"><strong>Description:</strong>Baby Month By Month Development and Growth After Birth
                        Fetal Development</p>
                 </div>
            </div>
            <div class="col-12 col-md-6 mb-5" style="background-color: #f7ede2;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/W4CHUKhF3hA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="row">
                    <h2><strong> Title:</strong>My baby's 24 hour routine</h2>
                    <p style="font-size: 15px;"><strong>Description:</strong>Newborn Baby Routine </p>
                 </div>
            </div>
            <div class="col-12 col-md-6 mb-5" style="background-color: #f7ede2;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Tyo_edfArX8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="row">
                    <h2><strong> Title:</strong>How to Bathe a Newborn</h2>
                    <p style="font-size: 15px;"><strong>Description:</strong>Giving your baby their first bath is daunting for most new parents. Not to worry, with a little guidance and some practice, this routine can be one you look forward to.</p>
                 </div>
            </div>
            <div class="col-12 col-md-6 mb-5" style="background-color: #f1faee;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/j2C8MkY7Co8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="row">
                    <h2><strong> Title:</strong>How To Calm A Crying Baby</h2>
                    <p style="font-size: 15px;"><strong>Description:</strong>Dr. Hamilton, a pediatrician in Santa Monica, CA and founder of Pacific Ocean Pediatrics, shows you how to calm a crying baby using "The Hold".
                        This technique has been utilized by Dr. Hamilton to quiet infants during office visits. Parents have learned it and have experienced great success at home. You can too. </p>
                 </div>
            </div>
            <div class="col-12 col-md-6 mb-5" style="background-color: #f1faee;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Wg_wBw1fbzI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="row">
                    <h2><strong> Title:</strong>BEST WAYS to Burp a Baby to Help With Colic, Reflux and Gasy</h2>
                    <p style="font-size: 15px;"><strong>Description:</strong>Want to know the best and quickest to burp a baby to help with colic, reflux or gas? These tips will work!</p>
                 </div>
            </div>
            <div class="col-12 col-md-6 mb-5" style="background-color: #f7ede2;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kc7nN-r5y2I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="row">
                    <h2><strong> Title:</strong>BABY PLAY - HOW TO PLAY WITH 0-3 MONTH OLD NEWBORN - BRAIN DEVELOPMENT ACTIVITIES</h2>
                    <p style="font-size: 15px;"><strong>Description:</strong>Have you ever wondered what's going on in your infant"s brain?  In this video, I give you a glimpse inside your newborn's brain development, and provide some suggestions for activities that inspire connection and growth.  Between the diaper changes, naps, and feedings, life with a newborn can be pretty busy! Don't get caught up in the life tasks and miss the fun.  Help your baby reach their milestones and learn about the world with these developmental activities for infants. </p>
                 </div>
            </div>
            <div class="col-12 col-md-6 mb-5" style="background-color: #f7ede2;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/eR0i5kEXXEk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="row">
                    <h2><strong> Title:</strong>DOs and DON'Ts of Tummy Time: Time Time For Babies and Tummy Time Newborns</h2>
                    <p style="font-size: 15px;"><strong>Description:</strong>Have a newborn and not sure when to start tummy time, how long to do tummy time or newborn tummy time positions? Or does your one, two or three month old baby hate tummy time. Well this video is for you! In this video I cover everything you need to know about tummy time, including my 'Dos and Don'ts of Tummy Time'. I discuss how to do tummy time with newborn - 4 month old babies and share tummy time tips which will ensure your bub starts to find tummy time easier and actually enjoys tummy time</p>
                 </div>
            </div>
            <div class="col-12 col-md-6 mb-5" style="background-color: #f1faee;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/a4GBO0vtI4w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="row">
                    <h2><strong> Title:</strong>Flat Head - Tips to Avoid It (and what to do if you notice a flat spot)</h2>
                    <p style="font-size: 15px;"><strong>Description:</strong>Newborn skull bones are soft, thin and flexible. They also have weak neck muscles and usually turn their heads to one side when placed on their back. It is because of these two reasons, it is extremely common for babies to develop a flat spot on their head. This is known as flat head syndrome, positional plagiocephaly, deformational plagiocephal and brachycephaly. </p>
                 </div>
            </div>
        </div>
    </div>

    <section id="news" class="section-p1" style="background-image: url('{% static 'images/banner28.jpeg' %}')">
        <div class="newstext">
          <h4>Sign Up For Newsletters</h4>
          <p>Get E-mail updates about our latest shop and <span> special offers.</span></p>
        </div>
        <form method="post" action="{% url 'newsletter_signup' %}" class="form">
          {% csrf_token %}
          <input class="letter" type="email" name="email" placeholder="Your email address">
          <button class="normal1" type="submit">Sign Up</button>
        </form>
      </section>
{% endblock %}
