{% extends 'schnoogle_a/main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

{% block content %}
<div class="container-fluid">

  <div class="col-md-offset-4 col-md-4">

    <form id="formcss" method="POST" autocomplete="off" action="">
      {% csrf_token %}
      {% if messages %}
             {% for message in messages %}
                <div class="alert alert-{{ messages.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
      {% endif %}        

      {{form.as_p}}

      <button type="submit">Signup</button>
    </form>

   
  </div>
</div>
<section id="news" class="section-p1" style="background-image: url('{% static 'images/banner28.jpeg' %}')">
  <div class="newstext">
    <h4>Sign Up For Newsletters</h4>
    <p>Get E-mail updates about our latest shop and <span> special offers.</span></p>
  </div>
  <form method="post" action="{% url 'newsletter_signup' %}" class="form">
    {% csrf_token %}
    <input class="letter" type="email" name="email" placeholder="Your email address">
    <button class="normal1" type="submit">Sign Up</button>
  </form>
</section>

<section id="feature" class="section-p1 section-m1">
  <div class="fe-box">
    <img src="{% static 'images/easy-returns.jpg' %}" alt="">
  </div>

  <div class="fe-box">
    <img src="{% static 'images/chat.png' %}" alt="">
  </div>

  <div class="fe-box">
    <img src="{% static 'images/fast-delivery.jpg' %}" alt="">
  </div>

  <div class="fe-box">
    <img src="{% static 'images/money-back.png' %}" alt="">
  </div>

  <div class="fe-box">
    <img src="{% static 'images/worldwide-delivery.jpg' %}" alt="">
  </div>

</section>
{% endblock %}
