{% extends 'schnoogle_a/main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

{% block content %}
<html>

<head>
    <title>
        Baby products and parenting
    </title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href='https://css.gg/shopping-bag.css' rel='stylesheet'>
    <link href='https://css.gg/user.css' rel='stylesheet'>
    <link href='https://css.gg/shopping-cart.css' rel='stylesheet'>
    <link href='https://css.gg/instagram.css' rel='stylesheet'>
    <link href='https://css.gg/twitter.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://css.gg/youtube.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
    <link href='https://css.gg/facebook.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive&family=Work+Sans&display=swap" rel="stylesheet">
</head>

<body>

    <section class="fourth-banner" style="background-image: url('{% static 'images/bg2.jpeg' %}');">
        <h4>Let your little adventurers explore in style
            <br> with our collection of cool and comfortable clothing
            <br><span>for boys.</span>
        </h4>
        <!-- <button onclick="window.location='{% url 'toys' %}' ">Explore More</button> -->
    </section>

    <!-- best selling -->
    <section id="product1" class="section-p1">
        <!-- <h1>Best Selling Products</h1> -->
        <div class="pro-container">


            <div class="text-align">
                {% for product in products %}
                <div class="pro">
                    <img src="{{ product.imageURL }}" height="400" width="300" alt="">
                    <div class="des">
                        <h5>{{ product.name }}</h5>
                        <h4>&#8377;{{ product.price }}</h4>
                    </div>
                    <a href="{% url 'cart_add' product.id %}"><span class="material-icons cart">
                            shopping_cart
                        </span></a>
                </div>
                {% endfor %}

            </div>

        </div>


    </section>

    <!-- newsletter -->
    <section id="news" class="section-p1" style="background-image: url('{% static 'images/banner28.jpeg' %}')">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span> special offers.</span></p>
        </div>
        <form method="post" action="{% url 'newsletter_signup' %}" class="form">
            {% csrf_token %}
            <input class="letter" type="email" name="email" placeholder="Your email address">
            <button class="normal1" type="submit">Sign Up</button>
        </form>
    </section>



    <!--footer -->
    <section id="feature" class="section-p1 section-m1">
        <div class="fe-box">
            <img src="{% static 'images/easy-returns.jpg' %}" alt="">
        </div>

        <div class="fe-box">
            <img src="{% static 'images/chat.png' %}" alt="">
        </div>

        <div class="fe-box">
            <img src="{% static 'images/fast-delivery.jpg' %}" alt="">
        </div>

        <div class="fe-box">
            <img src="{% static 'images/money-back.png' %}" alt="">
        </div>

        <div class="fe-box">
            <img src="{% static 'images/worldwide-delivery.jpg' %}" alt="">
        </div>

    </section>

    <!--footer -->

    <footer class="section-p1" style="background-image: url('{% static 'images/banner30.jpeg' %}')" ;>
        <div class="col" style="text-align:start;">
            <img class="logo" src="{% static 'images/schnoogle-logos_transparent.png' %}" alt="">
            <h4>Contact</h4>
            <p><strong>Address: </strong> Schnoogle Co., New Delhi</p>
            <p><strong>Phone: </strong> (+91) 978654321</p>
            <p><strong>Hours: </strong>10.00 - 18.00, Mon - Sat</p>

        </div>



        <div class="col" style="text-align:start;">
            <h4>About</h4>
            <a href="#">About Us</a> <br>
            <a href="#">Delivery Policy</a> <br>
            <a href="#">Privacy Policy</a> <br>
            <a href="#">Terms & Conditions</a> <br>
            <a href="#">Contact Us</a> <br>
        </div>

        <div class="col" style="text-align:start;">
            <h4>My account</h4>
            <a href="#">Sign In</a> <br>
            <a href="#">View Cart</a> <br>
            <a href="#">My Wishlist</a> <br>
            <a href="#">Track my order</a> <br>
            <a href="#">Help</a> <br>
        </div>

        <div class="copyright">
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="gg-facebook"></i> <br>
                    <i class="gg-twitter"></i> <br>
                    <i class="gg-instagram"></i> <br>
                    <i class="gg-youtube"></i> <br>
                </div>
            </div>
        </div>


    </footer>

    <p style="padding-left: 50%; background-color: #eaf4f4;">&copy; 2022, Schnoogle & Co.</p>

    <script src="script.js"></script>
    {% endblock content %}
</body>

</html>